parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
    reportUnmatchedIgnoredErrors: false
    symfony:
        containerXmlPath: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
    doctrine:
        objectManagerLoader: tests/doctrine-object-manager.php
    ignoreErrors:
        # Ignore JSON_CONTAINS function not recognized by DQL
        - '#QueryBuilder.*JSON_CONTAINS.*#'
        # Ignore non-empty-string requirement for user identifier
        - '#should return non-empty-string but returns string#'